@{
    ViewBag.Title = "Servicios";
    string clinicID = ViewBag.ClinicID as string;
    string clinicName = ViewBag.ClinicName as string;
    string direccion = ViewBag.direccion as string;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400&display=swap" rel="stylesheet">
     

    <style>
        body {
            background-color: #fff;
            font-family: 'Nunito', sans-serif;
        }

        h1 {
            font-family: 'Nunito Sans', sans-serif;
            color: #E7307D;
            text-align: left;
            margin-bottom: 20px;
            font-size: 36px;
        }

        h3 {
            font-family: 'Nunito Sans', sans-serif;
            color: #000;
            font-size: 20px;
        }

        h4 {
            font-family: 'Nunito Sans', sans-serif;
            color: #000;
            font-size: 18px;
        }

        h5 {
            font-family: 'Nunito Sans', sans-serif;
            color: #000;
            font-size: 12px;
        }

        .city-section {
            margin-bottom: 20px;
        }

        .clinic-link {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            color: #000;
            text-decoration: none;
            background-color: #ffffff;
            margin-bottom: 10px;
        }

        .clinic-info {
            display: flex;
            flex-direction: column;
        }

        .clinic-link span.clinic-name {
            font-size: 1.5em;
            font-weight: bold;
        }

        .clinic-link span.clinic-address {
            font-size: 0.9em;
        }

        .clinic-link:hover {
            text-decoration: none;
            color: #000;
        }

        .clinic-link .fa-chevron-right {
            color: #E7307D;
            margin-left: auto;
        }

        .btn-link-custom {
            background-color: #ffffff;
            color: #000;
            width: 100%;
            margin-top: 2px;
            text-align: left;
            text-decoration: none;
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: x-large;
            border: 1px solid #000;
            border-radius: 15px;
            color: #000000;
        }

        .btn-next {
            background-color: #E7307D;
            border-style: solid;
            color: white;
            width: 100%;
            margin-top: 2px;
            text-align: center;
            text-decoration: none;
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: x-large;
        }

        .btn-link-custom:hover {
            background-color: #ffffff;
            color: #000;
            text-decoration: none;
        }

        .btn-link-expanded {
            border-color: #E7307D;
        }

        .card {
            border-color: #fff;
            border-radius: 10px;
        }

        .card-header {
            background-color: #ffffff;
            color: #000;
            border-radius: 15px;
            border-color: #000;
            margin-bottom: 5px;
            padding: 5px;
        }

            .card-header h2 {
                margin-bottom: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .card-header .btn-link-custom {
                width: 100%;
            }

        .accordion {
            border: 1px solid #000;
            border-radius: 10px;
        }

        .service-checkbox {
            width: 20px;
            height: 20px;
            margin: 0;
            -webkit-appearance: none;
            appearance: none;
            border: 2px solid #E7307D;
            border-radius: 50%;
            outline: none;
            cursor: pointer;
            background-color: #fff;
            position: relative;
        }

            .service-checkbox:checked {
                background-color: #E7307D;
                border-color: #E7307D;
            }

                .service-checkbox:checked::before {
                    content: '✓';
                    display: block;
                    color: white;
                    font-weight: bold;
                    text-align: center;
                    line-height: 16px;
                    font-size: 16px;
                }

        .search-bar {
            margin-bottom: 20px;
        }

        .hidden {
            display: none;
        }

        .show-more-btn {
            text-align: center;
            margin-top: 20px;
        }

        #loading {
            position: fixed;
            z-index: 9999;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(255, 255, 255, 0.8);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <h1>@clinicName</h1>
    <i class="fa-solid fa-location-dot" ></i>
    <h4>@direccion</h4>

    <form action="/Clinics/Details" method="post">
        <input type="hidden" name="clinicID" value="@clinicID" />
        <input type="hidden" name="serviceFamilySourceID" value="1" />
        <button type="submit" class="btn btn-link btn-link-custom">

            <span style="margin-left: 10px;"><h4>Depilación laser Hombre</h4></span>
            <i class="fa-solid fa-arrow-right" style="margin-left: auto;color:#E7307D"></i><br />
        </button>
    </form>


    <form action="/Clinics/Details" method="post">
        <input type="hidden" name="clinicID" value="@clinicID" />
        <input type="hidden" name="serviceFamilySourceID" value="3" />
        <button type="submit" class="btn-link-custom">
         
            <span style="margin-left: 10px;"><h4>Depilación laser Mujer</h4></span>
            <i class="fa-solid fa-arrow-right" style="margin-left: auto;color:#E7307D"></i>
        </button>
    </form>
</body>
</html>