@{
    ViewBag.Title = "Seleccione Fecha";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css' rel='stylesheet' />
    <style>
        .btn-custom {
            background-color: #e0e0e0; /* Gris claro */
            color: #333; /* Gris oscuro */
            padding: 0.5rem 1.5rem;
            margin: 0.5rem;
            transition: background-color 0.3s ease, color 0.3s ease;
        }

        .btn-custom:hover {
            background-color: #333; /* Gris oscuro */
            color: #fff; /* Blanco */
        }

        .btn-group-custom {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        #time-slots {
            width: 800px;
            display: none;
            flex-wrap: wrap;
            margin-left: 20%;
        }

        .time-slot {
            background-color: #ddd;
            margin: 5px;
            padding: 10px;
            border-radius: 4px;
            cursor: pointer;
            flex: 1 1 calc(33.333% - 10px); /* Tres slots por fila con espacio */
            text-align: center;
            
        }

        .time-slot:hover {
            background-color: #4a90e2;
        }

        .time-slot.selected {
            background-color: #4a90e2;
            color: #fff;
        }

        /* Ajustar el tamaño del contenedor del calendario */
        #calendar-container {
            width: 600px;
            height: 400px;
            margin: 0 auto; /* Centrar horizontalmente */
        }

        /* Ajustar el tamaño del calendario */
        #calendar {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <br />
    <br />
    <div id="calendar-container">
        <div id='calendar'></div>
    </div>
    <div id="time-slots"></div>

    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var timeSlotsEl = document.getElementById('time-slots');
            var selectedDate;

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                height: 400, // Establecer la altura a 400px
                contentHeight: 400, // Asegurarse de que el contenido también tenga 400px de altura
                aspectRatio: 1.5, // Controlar la relación de aspecto
                headerToolbar: false,
                dayHeaderFormat: { weekday: 'short', month: 'short', day: 'numeric' },
                selectable: true,
                dateClick: function (info) {
                    selectedDate = info.dateStr;
                    showTimeSlots();
                }
            });

            calendar.render();

            function showTimeSlots() {
                timeSlotsEl.style.display = 'flex';
                timeSlotsEl.innerHTML = '';
                var times = [];
                for (var hour = 10; hour < 24; hour++) {
                    var time1 = hour.toString().padStart(2, '0') + ':00';
                    var time2 = hour.toString().padStart(2, '0') + ':30';
                    times.push(time1, time2);
                }

                times.forEach(function (time) {
                    var slot = document.createElement('div');
                    slot.className = 'time-slot';
                    slot.innerText = time;
                    slot.addEventListener('click', function () {
                        selectTimeSlot(slot, time);
                    });
                    timeSlotsEl.appendChild(slot);
                });
            }

            function selectTimeSlot(slot, time) {
                var selectedSlots = document.querySelectorAll('.time-slot.selected');
                selectedSlots.forEach(function (selectedSlot) {
                    selectedSlot.classList.remove('selected');
                });
                slot.classList.add('selected');
                var selectedTime = time;
                window.location.href = '../citas/crear?date=' + selectedDate + '&time=' + selectedTime;
            }
        });
    </script>
</body>
</html>
