@model AgendaDeCitas.Models.Cita

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
</head>
<body>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CitasController">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClinicID" class="control-label"></label>
                <input asp-for="ClinicID" class="form-control" />
                <span asp-validation-for="ClinicID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaryDate" class="control-label"></label>
                <input asp-for="DiaryDate" class="form-control" />
                <span asp-validation-for="DiaryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeStart" class="control-label"></label>
                <input asp-for="TimeStart" class="form-control" />
                <span asp-validation-for="TimeStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeEnd" class="control-label"></label>
                <input asp-for="TimeEnd" class="form-control" />
                <span asp-validation-for="TimeEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CabineID" class="control-label"></label>
                <input asp-for="CabineID" class="form-control" />
                <span asp-validation-for="CabineID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfessionalID" class="control-label"></label>
                <input asp-for="ProfessionalID" class="form-control" />
                <span asp-validation-for="ProfessionalID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Services" class="control-label"></label>
                <input asp-for="Services" class="form-control" />
                <span asp-validation-for="Services" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaryComments" class="control-label"></label>
                <input asp-for="DiaryComments" class="form-control" />
                <span asp-validation-for="DiaryComments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientToken" class="control-label"></label>
                <input asp-for="ClientToken" class="form-control" />
                <span asp-validation-for="ClientToken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

</body>
</html>
